$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/*
font-family: 'Londrina Outline', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;*/

/* Space out content a bit */
body {
 /* padding-top: 50px;
  padding-bottom: 20px;*/
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Just Me Again Down Here', cursive;
  
}

.jumbotron{
  font-family: 'Just Me Again Down Here', cursive;
  box-shadow: inset 0 1px 12px -5px;
  margin-bottom: 0;
  background-color: #F2CFFF;
  color: #85489C;

  p{
    font-size: 30px;
  }

  h1{
    margin-top: 0;
  }
}

.toolbar-container {
  border-bottom: solid 5px #8F44AD;
  background-color: #9B58B5;
  color: #fff;
  font-family: 'Just Me Again Down Here', cursive;

  h1{
    margin-bottom: 20px;
  }

  .btn{
    font-size: 30px;
  }

  .btn-default{
    background-color: rgb(242, 207, 255);
    border-color: rgb(143, 68, 173);
    box-shadow: 0 0 0 2px rgb(143, 68, 173);
    width: 100%;
  }
  
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle{
    background-color: #fff;
    border-color: rgb(143, 68, 173);
    box-shadow: 0 0 0 2px #fff; 
  }

  .dropdown-menu{
    font-size: 25px;
  }
}

.batsu-banner{
  background-image: url('../images/batsu_banner.jpg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1
}

.batsu-banner-header{ 
  background-color: #853CA2;  
  color: rgba(255,255,255,0.8);

  h1{
    font-family: 'Londrina Outline', cursive;
    font-size: 63px;
    margin-bottom: 25px;
  }
}

.celeb-name{
  font-family: 'Just Me Again Down Here', cursive;
  font-weight: normal;
  font-size: 2em;
  color: #999;
}

.celeb-more-info{
  display: inline-block;
  cursor: hand;
  cursor: pointer;

  a{
    color: #ccc;
  }
}

.list-group-item{
  border-color: #eee;
}

.more-info{
  min-height: 20px;
  padding: 20px;
  margin-top: 15px;
  border-top: 1px dotted #e3e3e3;
  border-radius: 0px;

}

.hidden-xs{
  .img-thumbnail{
    width: calc(100%/1.2);
  }

  .celeb-name{
    padding-left: 20px;
  }

}

.boxer {
  display: table;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;


  .box-row {
   display: table-row;
  }

  .box {
   display: table-cell;
   text-align: left;
   vertical-align: middle;
  }

  .box-name{
    padding: 10px;
    padding-left: 20px;
  }

  .box-image{
    width: 20%;
    text-align: center;
  }

  .box-collapse{
    width: 10%;
    text-align: center;
  }

}


  .visible-sm.visible-xs{
    position: relative;
  }

.banner-gradient{
  background: #9b58b5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliNThiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzliNThiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iI2YxYzQwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWM0MGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  #9b58b5 0%, #9b58b5 75%, #f1c40f 75%, #f1c40f 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9b58b5), color-stop(75%,#9b58b5), color-stop(75%,#f1c40f), color-stop(100%,#f1c40f));
  background: -webkit-linear-gradient(left,  #9b58b5 0%,#9b58b5 75%,#f1c40f 75%,#f1c40f 100%);
  background: -o-linear-gradient(left,  #9b58b5 0%,#9b58b5 75%,#f1c40f 75%,#f1c40f 100%);
  background: -ms-linear-gradient(left,  #9b58b5 0%,#9b58b5 75%,#f1c40f 75%,#f1c40f 100%);
  background: linear-gradient(to right,  #9b58b5 0%,#9b58b5 75%,#f1c40f 75%,#f1c40f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b58b5', endColorstr='#f1c40f',GradientType=1 );
  position: relative;
}

.banner-gradient:before {
    content: 'u/Slicemage';
    font-size: 3em;
    position: absolute;
    right: 25px;
    top: 20px;
    color: #F39C11;
    font-family: 'Just Me Again Down Here', cursive;
}


.banner-gradient:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 22px;
  background: #8f44ad;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmNDRhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzhmNDRhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2YzOWMxMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMzljMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #8f44ad 0%, #8f44ad 75%, #f39c11 75%, #f39c11 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8f44ad), color-stop(75%,#8f44ad), color-stop(75%,#f39c11), color-stop(100%,#f39c11));
background: -webkit-linear-gradient(left,  #8f44ad 0%,#8f44ad 75%,#f39c11 75%,#f39c11 100%);
background: -o-linear-gradient(left,  #8f44ad 0%,#8f44ad 75%,#f39c11 75%,#f39c11 100%);
background: -ms-linear-gradient(left,  #8f44ad 0%,#8f44ad 75%,#f39c11 75%,#f39c11 100%);
background: linear-gradient(to right,  #8f44ad 0%,#8f44ad 75%,#f39c11 75%,#f39c11 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f44ad', endColorstr='#f39c11',GradientType=1 );

}

.user-list-container{
  font-family: 'Ubuntu', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}


@media (min-width: 991px) {

  

}